<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.findfish.crawler.sqloperate.mapper.MovieNameAndUrlMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        AS id,
            movie_name AS movieName,
            wangpan_url AS wangPanUrl,
            wangpan_passwd AS wangPanPassword,
            title_name AS titleName,
            pan_source AS panSource
    </sql>


    <select id="selectMovieUrlByLikeName" resultType="top.findfish.crawler.sqloperate.model.MovieNameAndUrlModel"  statementType="STATEMENT">
        SELECT
        <include refid="Base_Column_List"/>
        FROM  ${tablename}
        WHERE movie_name like  ${"'%"+movieName+"%'"} LIMIT 20

    </select>

    <select id="selectMovieUrlByLikeNameGroup" resultType="top.findfish.crawler.sqloperate.model.MovieNameAndUrlModel"  statementType="STATEMENT">
        SELECT
        <include refid="Base_Column_List"/>
        FROM  ${tablename}
        WHERE movie_name like  ${"'%"+movieName+"%'"} LIMIT 20
        GROUP BY movie_name
    </select>



    <select id="selectMovieUrlByName" resultType="top.findfish.crawler.sqloperate.model.MovieNameAndUrlModel"  statementType="STATEMENT">
        SELECT
        <include refid="Base_Column_List"/>
        FROM  ${tablename}
        WHERE movie_name =  ${"'"+movieName+"'"}
        AND title_name = ${"'"+titleName+"'"}
        AND pan_source = ${"'"+panSource+"'"}
        LIMIT 20
    </select>



    <insert id="insertMovieUrls"  statementType="STATEMENT">
        INSERT INTO  ${tableName}
        (movie_name,movie_url,wangpan_url,wangpan_passwd,updatetime)
        VALUES
        <foreach collection="list" item="movieNameAndUrlModels" separator=",">
            (${movieNameAndUrlModels.movieName}, ${movieNameAndUrlModels.movieUrl},
            ${movieNameAndUrlModels.wangPanUrl},${movieNameAndUrlModels.wangPanPassword} , now())
        </foreach>
    </insert>


<!--    原版-->

<!--    <insert id="insertMovieUrl" parameterType="top.findfish.crawler.sqloperate.model.MovieNameAndUrlModel" statementType="STATEMENT">-->
<!--        INSERT INTO  ${tableName}-->
<!--            (movie_name, movie_url, wangpan_url, wangpan_passwd,updatetime)-->
<!--        VALUES (${"'"+movieNameAndUrlModel.movieName+"'"}, ${"'"+movieNameAndUrlModel.movieUrl+"'"},-->
<!--                ${"'"+movieNameAndUrlModel.wangPanUrl+"'"}, ${"'"+movieNameAndUrlModel.wangPanPassword+"'"},now())-->

<!--    </insert>-->

    <insert id="insertMovieUrl" parameterType="top.findfish.crawler.sqloperate.model.MovieNameAndUrlModel" statementType="STATEMENT">
        INSERT INTO  ${tableName}
            (movie_name, movie_url, wangpan_url, wangpan_passwd,title_name,pan_source,updatetime)
        VALUES (${"'"+movieNameAndUrlModel.movieName+"'"}, ${"'"+movieNameAndUrlModel.movieUrl+"'"},
                ${"'"+movieNameAndUrlModel.wangPanUrl+"'"}, ${"'"+movieNameAndUrlModel.wangPanPassword+"'"},
                ${"'"+movieNameAndUrlModel.titleName+"'"},${"'"+movieNameAndUrlModel.panSource+"'"},now())

    </insert>


    <delete id="deleteUrlMovieUrls" parameterType="top.findfish.crawler.sqloperate.model.MovieNameAndUrlModel" statementType="STATEMENT">
        DELETE
        FROM  ${tableName}
        WHERE movie_name = ${"'"+movieNameAndUrlModel.movieName+"'"}
          AND wangpan_url = ${"'"+movieNameAndUrlModel.wangPanUrl+"'"};
    </delete>


<!--    原版-->

<!--    <update id="updateUrlMovieUrl" parameterType="top.findfish.crawler.sqloperate.model.MovieNameAndUrlModel" statementType="STATEMENT">-->
<!--        UPDATE-->
<!--        ${tableName}-->
<!--        <trim prefix="set" suffixOverrides=",">-->

<!--            <if test="movieNameAndUrlModel.movieUrl != null and movieNameAndUrlModel.movieUrl != ''">-->
<!--                movie_url =${"'"+movieNameAndUrlModel.movieUrl+"'"},-->
<!--            </if>-->

<!--            <if test="movieNameAndUrlModel.wangPanUrl != null and movieNameAndUrlModel.wangPanUrl != ''">-->
<!--                wangpan_url =${"'"+movieNameAndUrlModel.wangPanUrl+"'"},-->
<!--            </if>-->
<!--            <if test="movieNameAndUrlModel.wangPanPassword != null and movieNameAndUrlModel.wangPanPassword != ''">-->
<!--                wangpan_passwd =${"'"+movieNameAndUrlModel.wangPanPassword+"'"},-->
<!--            </if>-->
<!--            updatetime = now()-->
<!--        </trim>-->
<!--        WHERE-->
<!--        movie_name =${"'"+movieNameAndUrlModel.movieName+"'"}-->
<!--    </update>-->

    <update id="updateUrlMovieUrl" parameterType="top.findfish.crawler.sqloperate.model.MovieNameAndUrlModel" statementType="STATEMENT">
        UPDATE
        ${tableName}
        <trim prefix="set" suffixOverrides=",">

            <if test="movieNameAndUrlModel.movieUrl != null and movieNameAndUrlModel.movieUrl != ''">
                movie_url =${"'"+movieNameAndUrlModel.movieUrl+"'"},
            </if>

            <if test="movieNameAndUrlModel.wangPanUrl != null and movieNameAndUrlModel.wangPanUrl != ''">
                wangpan_url =${"'"+movieNameAndUrlModel.wangPanUrl+"'"},
            </if>
            <if test="movieNameAndUrlModel.wangPanPassword != null and movieNameAndUrlModel.wangPanPassword != ''">
                wangpan_passwd =${"'"+movieNameAndUrlModel.wangPanPassword+"'"},
            </if>
            <if test="movieNameAndUrlModel.titleName != null ">
                title_name =${"'"+movieNameAndUrlModel.titleName+"'"},
            </if>
            <if test="movieNameAndUrlModel.panSource != null and movieNameAndUrlModel.panSource != ''">
                pan_source =${"'"+movieNameAndUrlModel.panSource+"'"},
            </if>
            updatetime = now()
        </trim>
        WHERE
        movie_name =${"'"+movieNameAndUrlModel.movieName+"'"}
        and pan_source =${"'"+movieNameAndUrlModel.panSource+"'"}
        and title_name =${"'"+movieNameAndUrlModel.titleName+"'"}
    </update>




    <delete id="deleteUnAviliableUrl"  statementType="STATEMENT">
        DELETE
        FROM
             ${tableName}
        WHERE
            movie_url = ${"'"+normalWebUrl+"'"}
          AND id NOT IN (
            SELECT
                a.id
            FROM
                ( SELECT max( id ) AS id FROM  ${tableName} WHERE movie_url = ${"'"+normalWebUrl+"'"} ) a
        )

    </delete>

<!--    <delete id="checkRepeatMovie"  statementType="STATEMENT">-->
<!--        DELETE-->
<!--        FROM ${tableName}-->
<!--        WHERE id NOT IN-->
<!--        (SELECT * FROM   ( SELECT max( id ) FROM ${tableName} GROUP BY  wangpan_url ) ids)-->
<!--    </delete>-->


<!--    HS优化新版本SQL-->
    <delete id="checkRepeatMovie"  statementType="STATEMENT">
        DELETE
        FROM ${tableName}
        WHERE movie_name  not in
        (SELECT * FROM  (SELECT movie_name FROM ${tableName} WHERE id  in  (SELECT max(id) from ${tableName} GROUP BY movie_url )) tn)
    </delete>

    <select id="selectMovieUrlByCondition"
            resultType="top.findfish.crawler.sqloperate.model.MovieNameAndUrlModel">
        SELECT
        <include refid="Base_Column_List"/>
        FROM  ${tablename}
        WHERE movie_name =  ${"'"+movieName+"'"}
        <if test="wangPanUrl != null ">
            and wangpan_url = ${"'"+wangPanUrl+"'"}
        </if>
        <if test="titleName != null ">
            and title_name = ${"'"+titleName+"'"}
        </if>

        <if test="panSource != null ">
            and pan_source = ${"'"+panSource+"'"}
        </if>
        LIMIT 20
    </select>

    <!--    由于设置了自增长ID 无法使用插入更新  ON DUPLICATE KEY UPDATE-->

    <!--    <insert id="insertMovieUrls" parameterType="com.libbytian.pan.system.model.MovieNameAndUrlModel">
            INSERT INTO url_movie
            (movie_name,movie_url,wangpan_url,wangpan_passwd)
            values
                    <foreach collection="list" item="movieNameAndUrlModels" separator=",">
                        (#{movieNameAndUrlModels.movieName}, #{movieNameAndUrlModels.movieUrl},
                        #{movieNameAndUrlModels.wangPanUrl},#{movieNameAndUrlModels.wangPanPassword})
                    </foreach>
            ON DUPLICATE KEY UPDATE
            movie_name = values(movieName)
        </insert>-->

</mapper>
